body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #4d5053;
    font-size: 22px;
    
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1440px;
    padding: 120px;
    margin: 0 auto;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    
}

.header-list {
    display: flex;
}

.header-list-item:not(:last-child) {
    margin-right: 40px;

}


.header-list-item {
    line-height: 1.58;
    letter-spacing: 0.4px;
    color: #292F36;
    font-size: 19px;
}

.header-list-item:hover {
    color: #CDA274
} 

/* hero */

.hero {
    height: 831px;
    max-width: 100%;
    border-radius: 0px 0px 0px 290px;

    background-image: url(../imgs/room.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;

}

.hero-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0.22px;
    color: #292F36;
    font-size: 80px;
    margin-bottom: 19px;

}

.hero-text {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
    margin-bottom: 15px;
    
}

.hero-button {
    width: 207px;
    height: 71px;

    background-image: url(../imgs/button1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 2px solid #292F36;
    border-radius: 18px;
    padding: 22px 67px 22px 34px;

    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    font-weight: 400;

    cursor: pointer;
    }

.features-section {
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 75px 42px;
    }
.features-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.features-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .features-list-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 17px;
    }

.features-list-text {
    width: 317px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-bottom: 48px ;
    text-align: center;
    }

.features-list-link {
    display: flex;
    align-items: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #4D5053;
    }

.features-list-link::after {
    width: 24px;
    height: 17px;

    content: "";
    background-image: url(../imgs/arrow.jpg);
    margin-left: 6px;
    }

.designs-title {
    margin-bottom: 42px;
    
    }
.designs-text {
    }
.designs-image {
    }
.designs-number {
    }
.designs-button {
    width: 263px;
    height: 71px;

    background-image: url(../imgs/button2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 2px solid #292F36;
    border-radius: 18px;
    padding: 22px 67px 22px 34px;

    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    font-weight: 400;

    cursor: pointer;
    }
