body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #4d5053;
    font-size: 22px;
    
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    margin-top: 26px;
}

.header-list {
    display: flex;
}

.header-list-item:not(:last-child) {
    margin-right: 40px;

}


.header-list-item {
    line-height: 1.58;
    letter-spacing: 0.4px;
    color: #292F36;
    font-size: 19px;
}

.header-list-item:hover {
    color: #CDA274
} 

















/* hero */

.hero {
    height: 831px;
    max-width: 100%;
    border-radius: 0px 0px 0px 290px;

    background-image: url(../imgs/hero-imgs/room.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;

}

.hero-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0.22px;
    color: #292F36;
    font-size: 80px;
    margin-bottom: 19px;

}

.hero-text {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
    margin-bottom: 15px;
    
}

.hero-button {
    width: 207px;
    height: 71px;

    background-image: url(../imgs/hero-imgs/button1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 2px solid #292F36;
    border-radius: 18px;
    padding: 22px 67px 22px 34px;

    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    font-weight: 400;

    cursor: pointer;
    }













    /* features */


.features-section {
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 75px 42px;
    }
.features-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.features-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .features-list-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 17px;
    }

.features-list-text {
    width: 317px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-bottom: 48px ;
    text-align: center;
    }

.features-list-link {
    display: flex;
    align-items: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #4D5053;
    }

.features-list-link::after {
    width: 24px;
    height: 17px;

    content: "";
    background-image: url(../imgs/features-imgs/arrow.jpg);
    margin-left: 6px;
    }

















    /* design-section */

    .designs-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 140px;
    }

    .designs-title {
    width: 450px;

    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 42px;
    }

    .designs-text {
    width: 531px;

    font-family: 'Jost';
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px; 
    color: #4D5053;
    margin-bottom: 30px;
    }

    .designs-link {
        margin-right: 20px;
    }

    .designs-number {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
        color: #4D5053;
    }

    
    .designs-button {
        width: 263px;
        height: 71px;
    
        background-image: url(../imgs/designs-imgs/button2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        border: 2px solid #292F36;
        border-radius: 18px;
        padding: 22px 67px 22px 34px;
    
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.72px;
        color: #FFFFFF;
        font-weight: 400;
    
        cursor: pointer;
        }

        .contact {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }

















        /* reviews */

        .reviews-section {
            background-color: #F4F0EC;
            border-radius: 70px;;
            margin-bottom: 139px;
        }
        .reviews-list {
            display: flex;
            justify-content: center;
            padding-bottom: 120px;
        }
        .reviews-list-item {
            background-color: white;
            width: 354px;
            height: 287px;
            border-radius: 30px;
            padding: 50px 30px 45px 35px;
        }

        .reviews-list-item:not(:last-child) {
            margin-right: 16px;
        }

        .reviews-image {
            margin-right: 20px;
        }

        .reviews-title {
        padding-top: 103px;
        padding-bottom: 46px;
        font-family: 'DM Serif Display';
        font-weight: 400;
        font-size: 45px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.22px;

    color: #292F36;
        }
        
        .reviews-place {
            font-family: 'Jost';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.22px;
    color: #4D5053;

        }

        .reviews-text {
            font-family: 'Jost';
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.22px; 
            color: #4D5053;
        }

    .reviews-user {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }     
    
    .reviews-list-title {
        font-family: 'DM Serif Display';
        font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
    }       













    /* logos */
    
    .logos-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 48px;
        padding-right: 55px;
        margin-bottom: 100px;
    }
    












    /* projects */

    .projects-section {
        margin-bottom: 78px;
    }

    .projects-title {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        font-family: 'DM Serif Display';
        font-weight: 400;
        font-size: 47px;
        line-height: 62px;
        text-align: center;
        letter-spacing: 0.22px;
        
        color: #292F36;
    }

    .projects-text {
        display: flex;
        justify-content: center;
        margin-bottom: 71px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.22px;
        
        color: #4D5053;
    }

    .projects-list {
        display: flex;
        flex-wrap: wrap;
        gap: 60px 20px;
    }

    .projects-list-item {
        flex-basis: calc((100% - 20px) / 2);
    }

    .projects-content {
        display: flex;
        justify-content: space-between;
    }

    .projects-list-image {
        margin-bottom: 24px;
    }

    .projects-list-title {
        font-family: 'DM Serif Display';
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0.22px;
        
        color: #292F36;
    }

    .projects-list-text {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
        
        color: #4D5053;
    }

    












    /* numbers */


    .numbers-section {
        height: 475px;
        background-color: #F4F0EC;
        padding-top: 140px;
        padding-bottom: 140px;
        margin-bottom: 130px;
    }
    .numbers-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .numbers-list-item {
        width: 288px;
        height: 195px;
        margin-right: 16px;
    }

    .numbers-list-item:not(:last-child) {
        border-right: 1px solid #CDA274;
    }

    .numbers-number {
        font-family: 'DM Serif Display';
        font-weight: 400;
        font-size: 85px;
        line-height: 128px;
        text-align: center;
        letter-spacing: 1.7px;
        
        color: #CDA274;
    }

    .numbers-list-text {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.22px;
        
        color: #4D5053;
    }











    /* recent */

    .recent-section {
        margin-bottom: 141px;
    }

    .recent-title {
        display: flex;
        justify-content: center;
        font-family: 'DM Serif Display';
        font-weight: 400;
        font-size: 48px;
        line-height: 62px;
        text-align: center;
        letter-spacing: 0.22px;
        
        color: #292F36;

        margin-bottom: 21px;
        
    }

    .recent-text {
        display: flex;
        justify-content: center;
        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.22px;
        
        color: #4D5053;
        margin-bottom: 70px;
    }

    .recent-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 20px;
    }

    .recent-list-item {
        border: 1px solid #E7E7E7;
        border-radius: 62px;
        width: 344px;
    }

    .recent-image {
        margin-bottom: 16px;
        width: 300px;
    }

    .recent-list-text {
        font-family: 'DM Serif Display';
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 0.5px;
        
        color: #292F36;
        
    }

    .recent-list-title {
        margin-bottom: 10px;
    }

    .recent-date {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.22px;
        
        color: #4D5053;
        
    }


    .recent-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .recents-block {
        padding: 21px 21px 40px 21px;
    }










    /* join */

    .join-section {
        background-color: #292F36;
        border-radius: 70px;
        height: 414px;
        text-align: center;
        margin-bottom: 80px;
    }

    .join-title {
        font-family: 'DM Serif Display';
        font-weight: 400;
        font-size: 50px;
        line-height: 75px;
        text-align: center;
        letter-spacing: 0.22px;
        
        color: #FFFFFF;

        padding-top: 100px;
        margin-bottom: 9px;
    }

    .join-text {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.22px;
        
        color: #FFFFFF;

        margin-bottom: 31px;
    }

    .join-button {
        background-color: #CDA274;
        border-radius: 18px;
        width: 241px;
        height: 71px;
        border: 2px solid #CDA274;

        font-family: 'Jost';
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.22px;
        
        color: #FFFFFF;

        cursor: pointer;
    }









    /* footer */

    .footer {
        display: flex;
        justify-content: space-between;
    }


    .footer-logo {
        margin-bottom: 15px;
    }

    .footer-logo-text {
        margin-bottom: 31px;
    }

    .footer-logo-list {
        display: flex;
        align-items: center;
    }

    .footer-logo-list-item {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
        
        color: #4D5053;
    }

    .footer-logo-list-item:not(:last-child) {
        margin-right: 40px;
    }

    .footer-pages {
    }

    .footer-pages-title {
        font-family: 'DM Serif Display'; 
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        letter-spacing: 0.22px;
        
        color: #292F36;

        margin-bottom: 22px;
    }

    .footer-pages-list {
    }

    .footer-pages-list-item {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
        
        color: #4D5053;

        margin-bottom: 30px;
    }

    .footer-explore {
    }
    
    .footer-explore-title {
        font-family: 'DM Serif Display'; 
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        letter-spacing: 0.22px;
        
        color: #292F36;

        margin-bottom: 22px;
    }

    .footer-explore-list {
    }

    .footer-explore-list-item {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
        
        color: #4D5053;

        margin-bottom: 30px;
    }

    .footer-contact {
    }

    .footer-contact-title {
        font-family: 'DM Serif Display'; 
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        letter-spacing: 0.22px;
        
        color: #292F36;

        margin-bottom: 22px;
    }

    .footer-contact-list {
    }

    .footer-contact-list-item {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
        
        color: #4D5053;

        margin-bottom: 30px;
    }

    .footer-copyright {
        display: flex;
        justify-content: center;
        
    }

    .footer-copyright-text {
        margin-right: 6px;

        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.22px;
        
        color: #4D5053;
    }

    .footer-copyright-link {
        margin-right: 6px;

        font-family: 'Jost';
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.22px;
        
        color: #CDA274;

        cursor: pointer;
    }